.main-form li {
    list-style: none;
    margin-top: 10px;
}

.main-form li input {
    position: absolute;
    left: 140px;
    border-radius: 3px;
}

.main-form li label {
    margin-left: 14px;
}

.msg-detail {
    text-align: center;
}

